<div class="page places">
    <div class="header">
        <h1>
            Интересные места
        </h1>
    </div>

    <div class="main">
        <p>
            В свободное время можно отправиться в одно из перечисленных мест. Все они находятся недалеко от отеля.
        </p>

        <h2>
            Старый город Будва.
        </h2>

        <img class="image" src="./assets/images/places.main.01.jpg">

        <p>
            Основание Старого города относится к XV веку. И много веков число местного населения городка оставалось одинаковым &mdash; от 700 до 1000 человек. Он распростерся на небольшой косе, выдвигающейся в море. Сейчас в это трудно поверить &mdash; весь город умещался на маленьком участке суши. Колоритные узкие извилистые улочки с крышами из красной черепицы в средиземноморском стиле приковывают взгляды большинства туристов. В этой половине города сохранились и крепостные ворота, и несколько старинных церквей VIII &mdash; XVIII веков. Открывают свои двери для посетителей Археологический музей, Галерея современного искуства, Библиотека. Необычайно красив Старый город вечером, подсвеченный иллюминацией. Это музей под открытым небом. Хотя на выстроенных венецианцами улицах и сегодня продолжают жить люди.
        </p>

        <h2>
            Цитадель в Будве
        </h2>

        <img class="image" src="./assets/images/places.main.02.jpg">

        <p>
            В Старом городе Будвы, который считается историческим центром, располагается Цитадель (или крепость Святой Марии). Это одна из основных достопримечательностей курорта. В прошлом Цитадель служила мощным оборонительным сооружением города со строны моря.<br/>
            Сегодня в Цитадели располагаются богатая библиотека, коллекция карт ручной работы. Во дворе проводятся театральные предстваления, а на террасе находится ресторан с Красивым видом на море, горы и остров Свети-Никола.
        </p>

        <h2>
            Статуя балерины
        </h2>

        <img class="image" src="./assets/images/places.main.03.jpg">

        <p>
            Танцовщица из Будвы, местный символ любви и верности. Трогательная романтическая история рассказывает о том, как юная девушка, будучи невестой моряка, всегда встречала его из плавания у берега. Все точно так же было и в тот раз: суженый отправился в далекое морское путешествие, а девушка каждое утро выходила на побережье, ожидая встреч, но так проходили день за днем , месяц за месяцем, а ее жених так и не возвратился в срок. Несмотря ни на что девушка, не теряя надежды, снова и снова выходила на берег моря. С большой тоской, и в тоже время с неисчерпаемой надеждой в глазах, она пристально всматривалась вдаль, ожидая чуда. Прошли года, а долгожданный корабль так и не появился на горизонте.
            <br/>
            <br/>
            Эта история является прекрасным примером настоящей любви и самопожертвования, потому как невеста прождала своего суженого целую жизнь, сохранив ему верность.
        </p>
    </div>
</div>
