<div class="page excursion">
    <div class="header">
        <h1>
            Экскурсии
        </h1>
    </div>

    <div class="main">
        <h2>&laquo;СТАРЫЙ ГОРОД КОТОР&raquo;</h2>

        <div class="excursion-main-text-container">
            <p>
                История Котора берет начало еще с 12 века. Основные его достопримечательности сосредоточились в районе Старого города, где на небольшом пространстве теснится череда узких улочек, церквей, соборов и площадей. Благодаря своей непередаваемой атмосфере старины, Котор стал площадкой для множества ярких фестивалей.
            </p>

            <p>
                <img class="main-image" src="./assets/images/excursion.main.01.jpg">
            </p>
        </div>

        <div class="excursions-container">
            <div class="excursion-item">
                <h3>Экскурсия RENAULT GROUP</h3>
                <p class="text">
                    Сбор в холле отеля у стойки регистрации в 9:30<br/>Отправление автобуса в 10:00
                </p>

                <br/>

                <h3>Экскурсия NISSAN BRANDS GROUP</h3>
                <p class="text">
                    Сбор в холле отеля у стойки регистрации в 13:30<br/>Отправление автобуса в 14:00
                </p>
                <p>Прдолжительность экскурсии &mdash; 3 часа.</p>
            </div>

            <div class="excursion-item">
                <img class="main-image" src="./assets/images/excursion.minor.01.jpg" alt="">
            </div>
        </div>
    </div>
</div>
