<div class="page contacts">
    <div class="header">
        <h1>
            Контакты
        </h1>
    </div>

    <div class="main">
        <h2>Организаторы</h2>

        <p>
            Алёна Дроздова &mdash; <a href="tel:+79264191013">+7 926 419 10 13</a>
            <br/>
            Константин Иванов &mdash; <a href="tel:+79166221181">+7 916 622 11 81</a>
            <br/>
            Анастасия Морозова &mdash; <a href="tel:+79031945323">+7 903 194 53 23</a>
        </p>
    </div>
</div>
