<div class="page about">
    <div class="header">
        <h1>
            О мероприятии
        </h1>
    </div>

    <div class="main">

        <!-- <img src="./assets/bg/bg_2.png"> -->

        <div class="videoWrapper">
            <iframe src="https://www.4shared.com/web/embed/file/zcLe6zQFce" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
        </div>

        <h4>
            Даты мероприятия
        </h4>
        <p>
            5 &mdash; 7 апреля 2017 года.
        </p>

        <h4>
            Место проведения
        </h4>
        <p>
            Черногория, г. Будва, отель Avala Resort & Villas.
        </p>

        <h4>
            Перелет
        </h4>
        <p>
            Перелеты осуществляет авиакомпания <b>IFLY</b>
        </p>
        <ul style="list-style: circle;">
            <li>
                <p>
                    <b>5.04.17 Рейс 9405 Москва (Домодедово) - Тиват</b>
                    <br/>
                    Вылет в 13:30, время местное / Время в пути 3 часа 10 минут
                </p>
            </li>
            <li>
                <p>
                    <b>7.04.17 Рейс 9406 Тиват - Москва (Домодедово)</b>
                    <br/>
                    Вылет в 12:00, время местное / Время в пути 3 часа 10 минут
                </p>
            </li>
        </ul>

        <h4>Информация о стране проведения конференции</h4>

        <p>
            Национальная валюта.
            <br/>
            Денежная единица Черногории – евро.
            <br/>
            <br/>
            Время отстает от Московского времени на 1 час.
            <br/>
            <br/>
            Климат: Средняя температура воздуха в апреле днем +18 + 20 C. Вечером и ночью может быть прохладно +8 +10 °C. Температура воды +15°C. В апреле в Черногории яркое солнце, под которым кожа быстро сгорает, советуем предусмотреть соответствующие косметические средства и солнцезащитные очки.
        </p>

    </div>
</div>
