<div class="page hotel">
    <div class="header">
        <h1>
            Отель
        </h1>
    </div>

    <div class="main">
        <h2>Avala Resort & Villas</h2>
        <p>
            Уникальный отель Avala Resort & Villas находится прямо на пляже, всего в 50 метрах от Старого города Будвы. В отеле предусмотрены все условия для первоклассного отдыха.<br/>
            Оснащение номеров, из которых открывается великолепный вид на море или горы соответствует самым высоким стандартам. К услугам гостей телевизор с плоским экраном, цифровая телефонная линия и беспроводной доступ в Интернет. В номерах присутствуют гигиенические наборы, тапочки, фен.
        </p>

        <img class="main-image" src="./assets/images/hotel.main.01.jpg" >

        <p>Гости получают бесплатный доступ:</p>

        <ul style="list-style: disk;">
            <li>
                Тренажерный зал
            </li>

            <li>
                Караоке бар
            </li>

            <li>
                Закрытый бассейн в спа-комплексе
            </li>
        </ul>
        <br/>
        <small>(!) Спа-процедуры предоставляются за дополнительную плату</small>
        <br/>

        <div class="minor-images-container">
            <div class="minor-image minor_01">
                <img src="assets/images/hotel.minor.01.jpg" alt="">
            </div>
            <div class="minor-image minor_02">
                <img src="assets/images/hotel.minor.02.jpg" alt="">
            </div>
            <div class="minor-image minor_03">
                <img src="assets/images/hotel.minor.03.jpg" alt="">
            </div>
        </div>

        <p>
            Услуги, которые не входят в стоимость проживания:
        </p>

        <ul style="list-style: disk;">
            <li>услуги прачечной, в том числе глажка одежды (в номерах утюг не предусмотрен)</li>
            <li>использование городского телефона (не включая внутренние звонки по отелю)</li>
            <li>услуга «Обслуживание номеров» (доставка еды и напитков в номер)</li>
        </ul>

        <p>
            <b>ВАЖНО!</b> Просим Вас обратить внимание! Пожалуйста, имейте в виду, индивидуальные счета участники оплачивают самостоятельно за наличный расчет в МОМЕНТ ОКАЗАНИЯ УСЛУГИ.
            <br/>
            <br/>
            Питание в отеле предусмотрено согласно программе мероприятия, дополнительное питание оплачивается гостями самостоятельно.
        </p>

        <h2>Адрес:</h2>
        <div class="address">
            <div class="icon">
                <img src="./assets/icons/ic_location_on_white_36px.svg">
            </div>
            <div class="text">
                Черногория, г. Будва, Медитеранская улица, д. 2. Отель Avala Resort & Villas.
            </div>
        </div>

        <p>
            Время поездки от аэропорта г. Тиват до отеля Avala Resort & Villas в г. Будва &mdash; <b>30 минут.</b>
        </p>
    </div>
</div>
